#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms, transform 300ms;
  will-change: filter, transform;
  border-radius: 50%;
}

.logo:hover {
  filter: drop-shadow(0 0 1.5em #BA487Faa);
  transform: scale(1.05);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1.5em #61dafbaa);
  transform: scale(1.05) rotate(5deg);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: #2e1b1b;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  color: var(--color-text);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.read-the-docs {
  color: #d2bfa1;
  font-style: italic;
  font-size: 0.95rem;
  margin-top: 1rem;
  display: inline-block;
}
